p {
    text-align: justify;
}


.centered-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0; /* Optional: add vertical spacing */
}

.centered-image img {
  max-width: 100%; /* Ensure the image is responsive */
  height: auto; /* Maintain aspect ratio */
}

  footer {
    page-break-after: always;
    font-size: 0.8em; /* Make the font smaller */
    color: #666; /* Set a dimmed color */
    margin-top: 10px; /* Space above the footnote */
    padding: 5px; /* Optional padding for spacing */
    border-top: 1px solid #ddd; /* Optional top border for separation */
}

.footnote {
    page-break-after: always;
    font-size: 0.8em; /* Make the font smaller */
    color: #666; /* Set a dimmed color */
    margin-top: 10px; /* Space above the footnote */
    padding: 5px; /* Optional padding for spacing */
    border-top: 1px solid #ddd; /* Optional top border for separation */
}

@media print {
  /* General text styles for PDF */
  body {
    font-family: "PT Serif", serif;
    font-size: 14px;
    line-height: 1.6;
  }

  /* Headings */
  h1 {
    font-size: 24px;
    text-align: center;
    color: navy;
  }