@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

.centered-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0; /* Optional: add vertical spacing */
}

.tc-tiddler-body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px; /* Adjust font size to your preference */
    line-height: 1.6; /* Better readability */
}


.centered-image img {
  max-width: 100%; /* Ensure the image is responsive */
  height: auto; /* Maintain aspect ratio */
}

 problema {
  text-align: center;
  font-weight: 800;
  font-family: 'Helvetica';

}

 descricao {
  font-size: 12px;
  text-align: justify;
  font-family: 'Helvetica';

}

 solucao {
  text-align: center;
  font-weight: 800;
  font-family: 'Helvetica';
}

 footer {
    font-size: 0.8em; /* Make the font smaller */
    color: #666; /* Set a dimmed color */
    margin-top: 10px; /* Space above the footnote */
    padding: 5px; /* Optional padding for spacing */
    border-top: 1px solid #ddd; /* Optional top border for separation */
}
